

.nav-bar {
    border: solid black 2px;
    background-color: #3973ac;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.nav-btn {
    height: 100%;
    background-color: #3973ac;
    border: solid white .5px;
    border-radius: 5px;
    color: white;
    border-right: solid black 3px;
    border-left: solid black 3px;
}

.nav-btn:hover {
    background-color: #79a6d2;
}

.container {
    background-color: rgba(100, 100, 100, 0.62);
    border: ridge white .2em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.about-div {
    border: groove #3973ac 3px;
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.book-container {
  border: groove grey .25em;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1em;

}

.book-item {
  font-weight: bolder;
  padding: .5em;
  border: groove grey .25em;
}

* {
    position: relative;
    box-sizing: border-box;
    /*border: solid red 1px;*/
}

.overlay {
    position: absolute;
    background-color: rgba(200, 200, 200, 0.7);
    width: 100%;
    min-height: 900px;
    z-index: 5;
}

body {
    background-image: url('http://4.bp.blogspot.com/-qxmwoQwg45c/URq6Km4IuXI/AAAAAAAAFug/w13Ru0yfwsU/s1600/DSC_0792.JPG');
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

hr {
    border: solid rgba(101, 0, 0, 0.72) 2px;
}

.row {
    width: 100%;
    display: flex;
}
.col-6{
    width: 100%;
}
.col-5{
    width: 75%;
}
.col-4 {
    width: 63%;
}
.col-3 {
    width: 50%;
}
.col-2 {
    width: 33%%;
}
.col-1 {
    width: 25%;
}
